[Desktop Entry]
Name=MetChat
GenericName=Chat-klient
Comment=Chat-klient for meteorologiske applikasjoner
Exec=metchat --chost dev-vm075 --cport 1105
Icon=metchat
MimeType=;
ServiceTypes=
Terminal=false
Type=Application
Categories=Science;Meteorologisk
