Source: metno-mgp
Section: science
Priority: extra
Maintainer: Norwegian Meteorological Institute met.no <jo.asplin@met.no>
Build-Depends: debhelper (>= 9),
 qtbase5-dev, qtbase5-dev-tools, qttools5-dev-tools, libqt5xmlpatterns5-dev,
qt5-default,libqt5opengl5-dev, freeglut3-dev
Standards-Version: 3.9.2

Package: metno-mgp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MET Norway MGP demo application
 This package contains a demo application for the MGP polygon library.

Package: metno-mgp-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MET Norway MGP lib
 This package contains the MGP polygon library.
