Source: qclib
Section: libs
Priority: standard
Maintainer: Jo Asplin <joa@met.no>
Build-Depends: qt4-qmake, libqt4-dev
Standards-Version: 3.8.3
Homepage: http://diana.met.no

Package: qccserver
Architecture: any
Section: net
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-sql (>= 4:4.8.1-0ubuntu4.4), 
Description: Central chat server for met.no applications.
 Full description to be done.

Package: qclserver
Architecture: any
Section: net
Depends: ${shlibs:Depends}, ${misc:Depends}, libqtgui4 (>= 4:4.8.1-0ubuntu4.4)
Description: Local chat server for met.no applications.
 Full description to be done.

Package: qclib
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-network (>= 4:4.8.1-0ubuntu4.4)
Description: Common functionality for met.no applications that use a chat server.
 Full description to be done.

Package: qclib-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, qclib
Description: Development files for applications that use qclib.
 Full description to be done.

Package: qcopenchatwin
Architecture: any
Section: net
Depends: ${shlibs:Depends}, ${misc:Depends}, qclserver
Description: Opens local chat window for current user.
 Full description to be done.
